{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid" style="padding-left:22vw;padding-right:22vw;">
  <p style="text-align: center;">
    A stock market prediction application which uses Recurrent Neural Network <br>with LSTM to predict stock market prices.<br>
   
  </p>
<!-- Main Content -->


<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <p class="special">Analysis Wall</p>
            <h2>VISULIZATION</h2>
        </header>
        <div class="gallery" class="align-center">
            <div>
                <div class="image fit">
                    <p>Closing VAlue of AAL:</p>
                    <a style="margin-left: -200px;" href="#"><img src="../static/download.png" alt="" /></a>
                    
                </div>
            </div>
            <div class="align-center" >
                    <p>Confusion Matrix:</p>
                    <a href="#"><img src="../static/download (1).png" alt="" /></a>
                    
                </div>
            </div>
            <div class="align-center">
                <div class="image fit">
                    <p>Prediction of Clossing Values</p>
                    <a href="#"><img src="../static/1.png" alt="" /></a>
                    
                </div>
            </div>
            <div class="align-center">
                <div class="image fit">
                    <p>Accuracy </p>
                    <a href="#"><img src="../static/download (2).png" alt="" /></a>
                    
                </div>
            </div>
            <div>
                
            </div>
            
        </div>
    </div>
</section>
{% endblock %}